/* COMENTARIOS*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4784bd;
    padding: 10px 20px;
}

.links ul{
    list-style-type: none;
    display: flex;
    margin-right: 700px;
    padding: 0;
}

.links li{
    margin-right: 25px;
}

.links a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.links a:hover{
    text-decoration: underline;
}

.imagen-logo img{
    width: 150px;
    height: auto;
}

.imagen-compras img{
    width: 90px;
    height: auto;

}

main {
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(122, 177, 97);
}

.imagen-central{
    width: 90%; 
    max-width: 90%;
    height: auto; 
    margin: 20px auto;

}

.text-container{
    width: 100%;
    padding: 10px;
}

.textos h1, .textos h2 {
    margin: 10px 0;
    text-align: center;
}

.textos h2{
    font-size: 1.5rem;
}

.botones {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    color: white;
    background-color: rgb(39, 144, 241);
    padding: 10px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    
}

.button:hover {
    background-color: #857575;
}

/* Media queries*/

/* Tablets */
@media (max-width: 768px) {
    .imagen-logo img {
        width: 120px; 
    }

    .imagen-compras img {
        width: 70px;
    }
}

@media (max-width: 768px) {
    .textos h1 {
        font-size: 30px;
    }

    .textos h2 {
        font-size: 18px;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 80%;
        margin-bottom: 10px;
    }
}

/* Celulares */

@media (max-width: 576px) {
    .imagen-logo img {
        width: 100px; 
    }

    .imagen-compras img {
        width: 60px;
    }
    .textos h1 {
        font-size: 24px;
    }

    .textos h2 {
        font-size: 16px;
    }

    .imagen-central {
        width: 100%;
        max-width: 100%;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
    }
}



/*Servicios:*/


.intro {
    text-align: center;
    margin-top: 70px;
}

.intro h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #000000;
}

.intro p {
    font-size: 18px;
    color: #000000;
    margin-top: 40px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.product {
    background-color: #86b8cc;
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
.product h4 {
    font-size: 18px;
    margin-bottom: 10px;
}


.product p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 15px;
}


/* Media Queries */

/* Tablets */
@media (max-width: 768px) {
    .product {
        width: 45%;
    }

    .intro h1 {
        font-size: 22px;
    }

    .intro p {
        font-size: 16px;
    }

    .product p {
        font-size: 14px;
    }

    .imagen-logo img {
        width: 120px;
    }

    .imagen-compras img {
        width: 70px;
    }

}

/* Celulares */

@media (max-width: 576px) {
    .product {
        width: 100%;
    }

    .intro h1 {
        font-size: 20px;
    }

    .intro p {
        font-size: 14px;
    }

    .product p {
        font-size: 12px;
    }

    .imagen-logo img {
        width: 100px;
    }

    .imagen-compras img {
        width: 60px;
    }
    
}



/*Beneficios:*/



.beneficios {
    text-align: center;
    margin: 20px auto;
    max-width: 1200px;
}

.beneficios h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.beneficios-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.beneficios-text {
    flex: 1;
    max-width: 50%;
    text-align: left;
}

.beneficios-text p {
    font-size: 24px;
    margin-bottom: 20px;
}

.beneficios-text ul {
    list-style-type: disc;
    padding-left: 50px;
}

.beneficios-text li {
    margin-bottom: 15px;
    font-size: 18px;
}

.beneficios-img{
    flex: 1;
    max-width: 50%;
    text-align: right;
}

.beneficios-img img {
    max-width: 100%;
    height: auto;
}




/*Historia*/



.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.img-section {
    flex: 1;
    padding: 10px;
}

.img-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-section {
    flex: 1;
    padding: 10px;
    text-align: left;
}

.text-section h1 {
    margin-top: 80px;
    font-size: 2rem;
    margin-bottom: 20px;
}

.text-section p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-right: 40px;
}

.button-container {
    margin-top: 100px;
    display: flex;
    gap: 10px;
}

.button {
    color: #ffffff;
    background-color: #517bec;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #f0f0f0;
}




/*Galeria*/



.galeria-container {
    text-align: center;
    margin-top: 20px;
}

.galeria-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.galeria-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.galeria-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin: 20px 0;
}

.galeria-item {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


/*Footer*/


footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-item {
    margin: 0 10px;
    flex: 1;
    margin-right: 30px;
    text-align: center;
}

.footer-item img {
    width: 100px;
    height: auto;
}

/* Media queries footer */

/* Tablets */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        margin: 10px 0; 
    }
}

/* Celulares */
@media (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        margin: 10px 0;
    } 

    .footer-item img {
        width: 80px;
    }
}

