//main

main {
	justify-content: space-between;
	width: 100%;
	padding: 0px;
	text-align: center;
	background-color: $background-color_1;
}
.imagen-central {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0px auto;
}
.text-container {
	width: 100%;
	padding: 10px;
}
.textos {
	h1 {
		margin: 10px 0;
		text-align: center;
		padding: 40px;
	}
	h2 {
		margin: 10px 0;
		text-align: center;
		font-size: 1.5rem;
	}
}
.botones {
	width: 100%;
	display: flex;
	padding: 50px;
	gap: 10px;
	text-decoration: none;
	justify-content: space-around;
	margin-top: 20px;
}
.button {
	color: $color_1;
	background-color: $background-color_2;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	&:hover {
		background-color: $background-color_3;
	}
}
