/*Servicios:*/

.intro {
	text-align: center;
	margin-top: 0px;
	h1 {
		font-size: 34px;
		margin-bottom: 10px;
		padding: 70px;
		color: $color_2;
	}
	p {
		font-size: 20px;
		color: $color_2;
		margin-top: 30px;
	}
}
.products {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
}
.product {
	background-color: rgb(235, 235, 235);
	padding: 20px;
	margin: 10px;
	width: 30%;
	text-align: center;
	img {
		width: 100%;
		max-width: 300px;
		height: auto;
		background-color: $background-color_6;
		margin-bottom: 15px;
	}
	h1 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: $color_2;
		margin-bottom: 15px;
	}
}
