/* Header*/

header {
	@include flex-center(space-between, center);
	background-color: rgb(225, 162, 106);
	padding: 10px 20px;
}

.links {
	.links ul {
		@include flex-center(row, center);
		list-style-type: none;
		margin-right: 700px;
		padding: 0;
	}
	li {
		margin-right: 25px;
	}
	a {
		text-decoration: none;
		color: rgb(255, 255, 255);
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
}
.imagen-logo {
	img {
		width: 150px;
		height: auto;
	}
}
.imagen-compras {
	img {
		width: 90px;
		height: auto;
	}
}