//colores

$color_1: white;
$background-color_1: rgb(122, 177, 97);
$background-color_2: rgb(39, 144, 241);
$background-color_3: #857575;
$background-color_4: #333;
$color_2: #000000;
$background-color_5: #86b8cc;
$background-color_6: #ffffff;
$background-color_7: #e0e0e0